/* Fonts */

/* @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 
Poppins: Thin 100, Thin 100 Italic, ExtraLight 200, ExtraLight 200 Italic, Light 300, Light 300 Italic, Regular 400, Regular 400 Italic, Medium 500, Medium 500 Italic, SemiBold 600, SemiBold 600 Italic, Bold 700, Bold 700 Italic, ExtraBold 800, ExtraBold 800 Italic, Black 900, Black 900 Italic
JetBrains Mono: Thin 100, Thin 100 Italic, ExtraLight 200, ExtraLight 200 Italic, Light 300, Light 300 Italic, Regular 400, Regular 400 Italic, Medium 500, Medium 500 Italic, SemiBold 600, SemiBold 600 Italic, Bold 700, Bold 700 Italic, ExtraBold 800, ExtraBold 800 Italic

font-family: 'JetBrains Mono', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* Fonts */

* {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
    color: white;
    transition: 200ms;
    /* border: 2px dashed rgba(255, 0, 0, 0.3); */
}

html {
    background-color: black;
    scroll-behavior: smooth;
    background-image: url(images/pagebg.svg);
    background-repeat: no-repeat;
    background-size: auto;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* Navbar section */

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-section {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    z-index: 100;
    top: 0;
    position: sticky;
}

.navbar {
    width: 70%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(4px);
    padding: 1rem;
}

.navbar img {
    max-height: 60px;
    vertical-align: middle;
}

.navlist {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist li {
    margin-right: 2rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
}

.navbar a:hover {
    text-decoration: none;
    border-bottom: 2px solid white;
}

.jw-btn {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 0.5rem 0.7rem;
    border: 4px solid transparent;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.jw-btn:hover {
    color: #159eb9;
    font-weight: 700;
    border: 4px solid #159eb9;
}

/* Main section */

.main {
    width: 70%;
    max-width: 1200px;
}

/* Home */

#home {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home img {
    height: 400px;
    margin: 3rem;
}

.home-info h1 {
    font-size: 3.5rem;
    background: -webkit-linear-gradient(#b5a5fb, #576ae8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin: 0rem 0; */
}

.home-info h4 {
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-bottom: 2rem;
}

.home-info h4 span {
    background: -webkit-linear-gradient(#b5a5fb, #576ae8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* About */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    /* height: 400px; */
}

#about h1 {
    font-size: 2.6rem;
    margin-bottom: 3rem;
    font-weight: 900;
}

.abth2 {
    font-size: 1.5rem;
    margin: 3rem 0 1rem 0;
    font-weight: 900;
}

.abth3 {
    font-size: 1.25rem;
    margin: 3rem 0 1rem 0;
    font-weight: 900;
}

#about p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    width: 70%;
}

.info-div ul li {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}

.evaluation h2 {
    text-align: center;
}

.evaluation ul li {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    margin: 0.5rem;
}

.evaluation ul li span {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0.5rem;
    background: linear-gradient(45deg, #b295ff, #19f3e4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#Timeline {
    width: 100%;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.timeline-cards {
    width: 100%;
    margin: 4rem auto;
}

.tlcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.tlcard h2 {
    margin: 1rem;
    font-family: "Poppins", sans-serif;
    /* font-family: "Poppins", sans-serif; */
}

.tlcard4 h2 {
    margin: 0.6rem;
}

.tlcard1,
.tlcard3 {
    width: 500px;
    height: 250px;
    border-radius: 125px;
    border: 2px solid white;
    margin: 1rem;
    margin-right: auto;
}

.tlcard2,
.tlcard4 {
    width: 500px;
    height: 250px;
    border-radius: 125px;
    border: 1px solid white;
    margin: 1rem;
    margin-left: auto;
}

.tlcard4 {
    width: 500px;
    height: 250px;
    border-radius: 125px;
    border: 3px solid white;
    margin: 1rem;
    margin-right: auto;
    margin-left: auto;
    transform: scale(1.25);
}

.hackday {
    font-weight: 900;
    font-size: 4rem;
    background: linear-gradient(45deg, #b295ff, #19f3e4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.chev1 {
    transform: rotate(310deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
}

.chev2 {
    transform: rotate(50deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
}

.chev3 {
    transform: rotate(0deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    margin-top: 4rem;
}

#Tracks {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Tracks h3 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    text-align: center;
}

#Tracks p {
    text-align:justify
}

.trackCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.trackCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: 50%;
    margin: 1rem;
    background-color: white;
    border-radius: 8px;
}

.trackCard h4 {
    color: black;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.trackCard p {
    color: black;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0.9rem;
}

#Rewards {
    /* font-family: "Poppins", sans-serif; */
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Rewards h3 {
    /* font-family: "Poppins", sans-serif; */
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.rewardCards {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.rewardCard {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
    margin: 5rem 2rem;
    background: linear-gradient(60deg, #b5a5fb, #576ae8);
    color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 50%;
}

.rewardCard:hover {
    transform: scale(1.1);
}

.rewardCard h3 em {
    font-size: 2.3rem;
    font-weight: 900;
}

.rewardCard h4 {
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 1rem 0;
}

.rewardCard p {
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.3rem;
}


/* Mentor */
#team {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

#team h1 {
    font-size: 2.6rem;
    margin: 3rem;
    font-weight: 900;
}

.mentors {
    margin: 1rem;
    margin-bottom: 5rem;
}

.mentors h3 {
    font-size: 2rem;
    margin-top: 0.2rem;
}

.mentors-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mentor {
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 2rem;
    border: 3px 1px 1px 3px;
    margin: 2rem;
}

.mentor h4 {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 2px 8px;
    /* font-family: 'Poppins', sans-serif; */
}

.mentor p {
    font-family: "Poppins", sans-serif;
    padding: 2px 8px;
}

.team-img {
    height: 200px;
    width: 200px;
    border: none;
    border-radius: inherit;
}

/* Orgs */

.org-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.organizers h3 {
    font-size: 2rem;
    margin-top: 0.2rem;
}

.organizer {
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 2rem;
    border: 3px 1px 1px 3px;
    margin: 2rem;
    margin-bottom: 5rem;
}

.organizer h4 {
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
}

.organizer p {
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

/* Sponsors */

#sponsors {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

#sponsors h1 {
    font-size: 2.6rem;
    margin: 3rem;
    font-weight: 900;
}

.sponsors-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.spnsr-img {
    max-width: 33%;
    margin: 2rem;
    width: 300px;
    height: 200px;
}

/* Faqs */

#faqs {
    margin-bottom: 5rem;
}

#faqs h1 {
    font-size: 2.6rem;
    text-align: center;
    margin: 3rem 0;
    font-weight: 900;
}

.qna {
    font-size: 1.4rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.qna .question {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin: 0.6rem 0;
}

.qna .answer {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background: -webkit-linear-gradient(45deg, #cabdff, #83bdff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0.5rem 0;
}

/* Footer */

.foot {
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.footer {
    width: max-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid white;
    color: black;
    padding: 1rem;
    height: fit-content;
}

.footer h3 {
    font-size: 2rem;
}

.footer h3 a {
    color: black;
    /* text-decoration: none; */
}

.footer .socials {
    margin: 1rem;
}

.footer .socials .social a p {
    color: black;
    text-align: center;
    margin: 1rem;
}

.copyright {
    font-size: 1rem;
    color: black;
}

.grainy-grad {
    filter: contrast(100%) brightness(100%);
    background: linear-gradient(
            135deg,
            rgba(0, 0, 0, 0.778),
            rgba(68, 68, 68, 0.636)
        ),
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.revealingsoon {
    margin: 1rem;
    font-size: 3rem;
    font-style: italic;
}
