body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 20px;
}

.section {
  padding: 50px;
  text-align: center;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style for the logo */
.logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* Style for the navbar */
.navlist {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlist li {
  margin-left: 20px;
}

.navlist a {
  color: white;
  text-decoration: none;
}

.navlist a:hover {
  text-decoration: underline;
}

#home {
  
}