body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 20px;
}

.section {
  padding: 50px;
  text-align: center;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

/* Style for the logo */
.logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* Style for the navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
